<table class="table table-condensed table-hover">
  <% for (var i = 0; i < quizes.length; i++) { %>
    <tr>
      <td>
        <a href="quizes/<%= quizes[i].id %>">
          <%= quizes[i].pregunta %>
        </a>
      </td>
      <td>
        <a class="btn btn-default btn-xs" href="quizes/<%= quizes[i].id %>/edit">
          Editar
        </a>
      </td>
      <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button class="btn btn-default btn-xs" type="submit" onclick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            Borrar
          </button>
        </form>
      </td>
    </tr>
    <% } %>
</table>

<p>
  <a class="btn btn-default center-block" href="/quizes/new">Crear pregunta</a>
</p>